<div class="row">
  <h4 class="hard">hard & Soft skills</h4>
  <div class="lapizeditor">
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#hysModal">
    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"  />
  </svg>
</div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [imageSrc]="'../assets/IMG/HTML1.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>

  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress

  [showUnits]="false"
  [percent]="90"
  [radius]="70"
  [imageSrc]="'../assets/IMG/CSS3.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>

</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress

[showUnits]="false"
[imageSrc]="'../assets/IMG/angular4.png'"
[showImage]="true"
[imageHeight]="50"
[imageWidth]="50"
[percent]="80"
[radius]="70"
[outerStrokeWidth]="10"
[innerStrokeWidth]="5"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress

  [showUnits]="false"
  [imageSrc]="'../assets/IMG/logomysql.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
[percent]="80"
[radius]="70"
[outerStrokeWidth]="10"
[innerStrokeWidth]="5"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress

  [showUnits]="false"
  [imageSrc]="'../assets/IMG/js1.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [percent]="70"
  [radius]="70"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress

    [showUnits]="false"
    [imageSrc]="'../assets/IMG/trabequipo.webp'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [percent]="100"
    [radius]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    </div>

</div>


<!-- Editar Educación Modal-->

<div class="modal fade" id="hysModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Hard & soft Skills</h5>

  </div>
  <div class="modal-body">
    <input class="form-control" type="file" id="formFile">
    <br>
  <input class="form-control" type="text" placeholder="Tecnología que maneja" aria-label="default input example">
  <br>
  <select class="form-select" aria-label="Default select example">
    <option selected>Nivel </option>
    <option value="1">0-20%</option>
    <option value="2">20-40%</option>
    <option value="3">40-60%</option>
    <option value="4">60-80% </option>
    <option value="4">80-100% </option>
  </select>

  <br>


  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
      <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
    </svg>Guardar Cambios</button>
    </div>
  </div>
  </div>
  </div>
