
  /*banner*/

  .carrusel{
    display:flex;
        height: 400px;
        width: 100%;
 background-repeat: no-repeat;
background-image: url(../../assets/IMG/galaxyyyyy.jpg);


    }


    /*cierre de banner*/
