a{
  text-decoration: none;

}


#fondo{
  -webkit-animation: move 1s linear infinite forwards;
  animation: move 1s linear infinite forwards;
  background: #02021a;
  font-family: Inter,sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  text-decoration: none;
  z-index: 1;
}

body:after, body::before {
  content: "";
  -webkit-filter: blur(140px);
  filter: blur(140px);
  height: 200px;
  position: fixed;
  width: 200px;
  margin-top:25%
}
body::before{
  background: #0ff;
}

.bg-circle1 {
  -webkit-filter: blur(140px);
  filter: blur(140px);
  height: 200px;
  position: fixed;
  width: 200px;
}
.bg-circle2{
  -webkit-filter: blur(140px);
  filter: blur(140px);
  height: 200px;
  position: fixed;
  width: 200px;
}

.bg-circle1 {
  background: #0ff;
  bottom: 150%;
  right: 0;
  top: 50%;
}
.bg-circle2{

    background: #b700ff;
    bottom: 200px;
    right: 200px;
    top: 80%;

}

.root {
  --color-pri: #52bcfa;
  --color-pri-light: rgba(82,188,250,.445);
  --color-sec: #ac11e9;
  --color-sec-light: rgba(172,17,233,.274);
  --pc-width: 70%;
  --tab-width: 90%;
  --phone-width: 100%;
}

body:after {
  background: #b700ff;
  left: 250px;
  top: 200px;
}

body:after, body:before {
  content: "";
  -webkit-filter: blur(140px);
  filter: blur(140px);
  height: 200px;
  position: fixed;
  width: 200px;
}


/*edicion lapiz y cruz */
.bi.bi-file-x{
  color:#fff
}
  .bi.bi-file-x:hover{
    cursor: pointer;
  color:#0ff
  }

  .bi.bi-pencil{
    color: #fff;
  }
  .bi.bi-pencil:hover{
     color:#0ff;
     cursor: pointer;
  }


/*cierre edicion*/

/*estilos botones de modales*/

button.btn.btn-primary {
  --bs-btn-color:#fff;
  --bs-btn-bg: #6c1cc7;
  --bs-btn-border-color:#fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:#6c1cc7;
  --bs-btn-hover-border-color:#6c1cc7 ;
  --bs-btn-focus-shadow-rgb:#6c1cc7;
  --bs-btn-active-bg: #a15cc8;
  --bs-btn-active-border-color:#a15cc8;
  --bs-btn-disabled-bg: #a15cc8;
  --bs-btn-disabled-border-color: #a15cc8;
}








.modal-content{
  position: absolute;
transform: translate(-50%,-50%);
  background: #110429;
  box-shadow: 0 15px 25px rgba(143,124,236,0.7);
  border-radius: 10px;
  color:#fff
}

h4{
  font-size: 25px;
  font-family: Open Sans,sans-serif;
}


/*cierre estilos*/






















